language: c
env:
  - OCAML=4.04.2
  # FIXME: add back
  # - OCAML=4.05.0
script:
  - echo "yes" | sudo add-apt-repository ppa:avsm/ppa
  - sudo apt-get update -qq
  - sudo apt-get install -qq opam
  - opam init --auto-setup --compiler=$OCAML
  - eval `opam config env`
  - opam pin add --no-action frenetic .
  - opam install --yes --deps-only frenetic
  - opam install --yes --verbose --build-doc --build-test frenetic
